<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SmartValve2Control.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <SmartValve2Control.Properties.Settings>
            <setting name="comboBoxCom" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="comboBoxBaudRate" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="comboBoxByteSize" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="comboBoxParity" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="comboBoxStopBit" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="cmd1" serializeAs="String">
                <value>nv_rd boot_mode</value>
            </setting>
            <setting name="cmd2" serializeAs="String">
                <value>set_mode 0</value>
            </setting>
            <setting name="cmd3" serializeAs="String">
                <value>set_mode 1</value>
            </setting>
            <setting name="cmd4" serializeAs="String">
                <value>set_mode 2</value>
            </setting>
            <setting name="cmd5" serializeAs="String">
                <value>set_update_freq 5</value>
            </setting>
            <setting name="cmd6" serializeAs="String">
                <value>set_sample_freq 5</value>
            </setting>
            <setting name="cmd7" serializeAs="String">
                <value>nv_wr clientid 866156056785184</value>
            </setting>
            <setting name="cmd8" serializeAs="String">
                <value>nv_wr username 489050</value>
            </setting>
            <setting name="cmd9" serializeAs="String">
                <value>nv_wr passwd rsGBj7/RePxN5alT1wd+oSYxlfIyF7TUHBN1vRVv0EM=</value>
            </setting>
            <setting name="cmd10" serializeAs="String">
                <value>nv_rd clientid</value>
            </setting>
            <setting name="cmd11" serializeAs="String">
                <value>nv_rd username</value>
            </setting>
            <setting name="cmd12" serializeAs="String">
                <value>nv_rd passwd</value>
            </setting>
            <setting name="cmd13" serializeAs="String">
                <value>get_version</value>
            </setting>
            <setting name="cmd14" serializeAs="String">
                <value>moto_encoder_test 37500 80 1</value>
            </setting>
            <setting name="cmd15" serializeAs="String">
                <value>set_valve_angle 30 37500</value>
            </setting>
            <setting name="cmd16" serializeAs="String">
                <value>set_moto_freq 38000</value>
            </setting>
            <setting name="cmd17" serializeAs="String">
                <value>get_moto_freq</value>
            </setting>
            <setting name="cmd18" serializeAs="String">
                <value />
            </setting>
            <setting name="cmd19" serializeAs="String">
                <value />
            </setting>
            <setting name="cmd20" serializeAs="String">
                <value />
            </setting>
            <setting name="cmdbr1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cmdbr2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cmdbr3" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cmdbr4" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cmdbr5" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cmdbr6" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cmdbr7" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cmdbr8" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cmdbr9" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cmdbr10" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cmdbr11" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cmdbr12" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cmdbr13" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cmdbr14" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cmdbr15" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cmdbr16" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cmdbr17" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cmdbr18" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cmdbr19" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cmdbr20" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="modeIndex" serializeAs="String">
                <value>0</value>
            </setting>
        </SmartValve2Control.Properties.Settings>
    </userSettings>
</configuration>